<?php
/**
 * Created by PhpStorm.
 * User: erlan
 * Date: 5/28/17
 * Time: 2:30 PM
 */

define('DB_HOST', 'localhost');
define('DB_USER', 'root');
define('DB_PASS', '');
define('DB_NAME', 'employment');